<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<div class="container">
  <%- include('include/_dashboardmenu') %>

  <form action="/createProfile" method="POST">
    <div class="form-group">
      <label for="descripcion">Área:</label>
      <input type="text" class="form-control" id="area" name="area" required>
      <label for="descripcion">Descripción:</label>
      <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
  
</div>


