
<!-- include header -->
<%- include('include/_header') %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- /include header -->

<!-- Main Site -->
<section class="home-text">
    <div class="home-text-left">
        <div class="home-text-overlay"></div> <!-- Div para opacar la imagen de fondo -->
        <div class="home-text-wrapper">
            <h1>Bienvenido a nuestro sitio de orientación vocacional</h1>
            <p>Encuentra la carrera que mejor se adapte a tus habilidades, intereses y aptitudes.</p>
            <a href="" class="button">Empezar ahora</a>
        </div>
    </div>            
</section>
<section class="home-content">
    <article>
        <h2>¿Por qué es importante hacer el test de vocación?</h2>
        <p>Hacer un test de vocación te permite conocerte mejor a ti mismo, descubrir tus intereses, habilidades y aptitudes. Esto te ayudará a tomar una decisión más informada a la hora de elegir una carrera universitaria o técnica.</p>
        <p>Además, hacer un test de vocación te permitirá:</p>
        <ul>
            <li>Identificar carreras que quizás no conocías o no habías considerado previamente.</li>
            <li>Descartar carreras que no se ajustan a tus habilidades o intereses.</li>
            <li>Conocer los requisitos de ingreso y las habilidades necesarias para cada carrera.</li>
            <li>Conocer el campo laboral de cada carrera y sus posibilidades de desarrollo profesional.</li>
        </ul>
        <p>Recuerda que elegir una carrera es una decisión importante y que debe ser tomada con responsabilidad. Un test de vocación es una herramienta útil para ayudarte en este proceso, pero siempre debes complementarla con información adicional y asesoramiento profesional si es necesario.</p>
        <p>Nuestro test vocacional está diseñado específicamente para estudiantes en Ecuador y se ajusta a las carreras universitarias y técnicas disponibles en el país.</p>
    </article>
</section>


<div class="registration-form-container" style="display: none;">
  <button class="close-button"></button> 
  <h4>Regístrate para realizar el test vocacional</h4>
  <form id="registration-form" action="/register" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre Completo:</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Edad:</label>
      <input type="number" class="form-control" id="age" name="age" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Correo electrónico:</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">Género:</label>
      <select class="form-select" id="gender" name="gender" required>
        <option value="">Seleccionar género</option>
        <option value="Femenino">Femenino</option>
        <option value="Masculino">Masculino</option>
      </select>
    </div>
    <div class="form-group">
      <label for="province" class="form-label">Provincia</label>
      <select id="province" name="province" class="form-control">
          <option value="" disabled selected>Selecciona una provincia</option>
          <option value="Azuay">Azuay</option>
          <option value="Bolívar">Bolívar</option>
          <option value="Cañar">Cañar</option>
          <option value="Carchi">Carchi</option>
          <option value="Chimborazo">Chimborazo</option>
          <option value="Cotopaxi">Cotopaxi</option>
          <option value="El Oro">El Oro</option>
          <option value="Esmeraldas">Esmeraldas</option>
          <option value="Galápagos">Galápagos</option>
          <option value="Guayas">Guayas</option>
          <option value="Imbabura">Imbabura</option>
          <option value="Loja">Loja</option>
          <option value="Los Ríos">Los Ríos</option>
          <option value="Manabí">Manabí</option>
          <option value="Morona Santiago">Morona Santiago</option>
          <option value="Napo">Napo</option>
          <option value="Orellana">Orellana</option>
          <option value="Pastaza">Pastaza</option>
          <option value="Pichincha">Pichincha</option>
          <option value="Santa Elena">Santa Elena</option>
          <option value="Santo Domingo de los Tsáchilas">Santo Domingo de los Tsáchilas</option>
          <option value="Sucumbíos">Sucumbíos</option>
          <option value="Tungurahua">Tungurahua</option>
          <option value="Zamora Chinchipe">Zamora Chinchipe</option>
      </select>
  </div>
  
  <div class="form-group">
    <label for="location" class="form-label">Ciudad</label>
    <select id="location" name="location" class="form-control">
      <option value="" disabled selected>Selecciona una ciudad</option>
    </select>
  </div>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-primary register-button">Registrarse</button>
  </div>
  
    
  </form>
  
</div>


<!-- /Main Site -->
<script>
    $(document).ready(function() {
    // Al hacer clic en el botón "Empezar ahora"
    $('.button').click(function(e) {
      e.preventDefault();
      // Muestra el contenedor del formulario de registro en una ventana emergente
      $('.registration-form-container').show();
    });
  
    // Al enviar el formulario de registro
    $('#registration-form').submit(function(e) {
      e.preventDefault();
      // Envía los datos del formulario al servidor usando AJAX
      $.ajax({
        url: '/register',
        method: 'POST',
        data: $(this).serialize(),
        success: function(response) {
          // Redirige al usuario a la página del test vocacional con el nombre del usuario
          window.location.href = `/test?name=${$('#name').val()}`;
        },
        error: function(err) {
          console.log('Error registering user:', err);
          alert('Error registering user. Please try again.');
        }
      });
    });
  
    var popUp = document.querySelector('.registration-form-container');
    var closeBtn = document.querySelector('.close-button');
  
    $('.button').click(function() {
      popUp.style.display = 'block';
    });
  
    closeBtn.addEventListener('click', function() {
      popUp.style.display = 'none';
    });
  });
  
</script>

<script>
  const provinciaSelect = document.getElementById('province');
  const ciudadSelect = document.getElementById('location');
              

      var ciudadesPorProvincia = {
                                  "Azuay": ["Cuenca", "Gualaceo", "Chordeleg", "Paute", "Sigsig", "Santa Isabel", "Pucará", "Oña", "Girón", "Nabón", "San Fernando", "Santa Ana", "Loja", "Sevilla de Oro", "El Pan", "Guachapala", "Camilo Ponce Enríquez", "Sígsig"],
                                  "Bolívar": ["Guaranda", "San Miguel", "Chillanes", "Caluma", "Las Naves", "Echeandía", "San José de Chimbo", "Chimbo", "Guanujo", "Simiatug"],
                                  "Cañar": ["Azogues", "La Troncal", "El Tambo", "Biblián", "Déleg", "Suscal", "El Carmen", "La Mancha", "Azogues", "Cañar"],
                                  "Carchi": ["Tulcán", "Montúfar", "Mira", "Bolívar", "Espejo", "Mira", "Montúfar", "San Pedro de Huaca"],
                                  "Chimborazo": ["Riobamba", "Guano", "Alausí", "Chambo", "Chunchi", "Colta", "Cumandá", "Guamote", "Guano", "Pallatanga", "Penipe"],
                                  "Cotopaxi": ["Latacunga", "La Maná", "Saquisilí", "Salcedo", "Sigchos", "Pangua", "Latacunga", "Pujilí"],
                                  "El Oro": ["Machala", "Pasaje", "Santa Rosa", "Arenillas", "Atahualpa", "Balsas", "Chilla", "El Guabo", "Huaquillas", "Las Lajas", "Marcabelí", "Piñas", "Portovelo", "Zaruma", "Santa Rosa"],
                                  "Esmeraldas": ["Esmeraldas", "Atacames", "Muisne", "Rioverde", "Quinindé", "San Lorenzo", "Eloy Alfaro"],
                                  "Galápagos": ["Puerto Baquerizo Moreno", "Puerto Ayora", "Isla Isabela", "Santa Cruz", "San Cristóbal"],
                                  "Guayas": ["Guayaquil", "Durán", "Samborondón", "Playas", "Daule", "Nobol", "Isidro Ayora", "El Empalme", "Balzar", "Colimes", "Palestina", "Pedro Carbo", "Salitre", "Yaguachi", "Lomas de Sargentillo", "Milagro", "Naranjal", "Naranjito", "Guayaquil", "Durán", "Samborondón", "Playas"],
                                  "Imbabura": ["Ibarra", "Otavalo", "Cotacachi", "Antonio Ante", "Pimampiro", "Urcuquí", "Ibarra", "Otavalo", "Cotacachi"],
                                  "Loja": ["Loja", "Catamayo", "Zapotillo", "Calvas", "Gonzanamá", "Espíndola", "Macará", "Paltas", "Puyango", "Saraguro", "Sozoranga", "Catamayo", "Chaguarpamba", "Olmedo", "Puyango", "Quilanga"],
                                  "Los Ríos": ["Babahoyo", "Quevedo", "Ventanas", "Buena Fe", "Mocache", "Montalvo", "Palenque", "Puebloviejo", "Quinsaloma", "Valencia", "Urdaneta", "Babahoyo", "Montalvo", "Palenque", "Quevedo", "Valencia", "Ventanas", "Vinces"],
                                  "Manabí": ["Portoviejo", "Manta", "Jipijapa", "Chone", "El Carmen", "Flavio Alfaro", "Jama", "Jaramijó", "Junín", "Manta", "Montecristi", "Paján", "Pedernales", "Pichincha", "Rocafuerte", "Santa Ana", "Sucre", "Tosagua", "24 de Mayo", "Olmedo"],
                                  "Morona Santiago": ["Macas", "Gualaquiza", "Sucúa", "Logroño", "Morona", "Palora", "Santiago", "San Juan Bosco", "Huamboya", "Limón Indanza", "Gualaquiza", "Morona", "Pablo Sexto", "Taisha", "Sucúa", "Santiago"],
                                  "Napo": ["Tena", "El Chaco", "Quijos", "Archidona", "Carlos Julio Arosemena Tola", "El Chaco", "Quijos", "Tena"],
                                  "Orellana": ["Francisco de Orellana", "La Joya de los Sachas", "Puerto Francisco de Orellana", "Aguarico", "Gonzalo Pizarro", "La Joya de los Sachas", "Lago Agrio", "Loreto", "Santa María de Huachipires", "Tarapoa"],
                                  "Pastaza": ["Puyo", "Santa Clara", "Mera", "Arajuno", "Mera", "Puyo", "Santa Clara"],
                                  "Pichincha": ["Quito", "Sangolquí", "Cayambe", "Pedro Moncayo", "Mejía", "Pedro Vicente Maldonado", "Puellaro", "Quito", "Rumiñahui", "San Miguel de los Bancos", "Cayambe", "Pedro Moncayo"],
                                  "Santa Elena": ["Santa Elena", "Salinas", "La Libertad", "La Libertad", "Salinas", "Santa Elena"],
                                  "Santo Domingo de los Tsáchilas": ["Santo Domingo", "La Concordia", "Santo Domingo de los Colorados", "La Concordia", "Santo Domingo", "Santo Domingo de los Colorados"],
                                  "Sucumbíos": ["Lago Agrio", "Shushufindi", "Nueva Loja", "Cuyabeno", "Gonzalo Pizarro", "Lago Agrio", "Putumayo", "Shushufindi", "Sucumbíos", "Nueva Loja"],
                                  "Tungurahua": ["Ambato", "Banos", "Pelileo", "Cevallos", "Mocha", "Patate", "Pillaro", "Quero", "San Pedro de Pelileo", "Tisaleo", "Ambato", "Banos", "Pelileo", "Quero"],
                                  "Zamora Chinchipe": ["Zamora", "Yantzaza", "Centinela del Cóndor", "Chinchipe", "Nangaritza", "Yacuambi", "Yantzaza", "Zamora", "El Pangui", "Paquisha", "Centinela del Cóndor"]
                                  };


      // Función para actualizar las ciudades según la provincia seleccionada
      function actualizarCiudades() {
          var provinciaSeleccionada = provinciaSelect.value;
          var ciudades = ciudadesPorProvincia[provinciaSeleccionada];

          // Elimina las opciones anteriores
          while (ciudadSelect.firstChild) {
              ciudadSelect.removeChild(ciudadSelect.firstChild);
          }

          // Agrega las nuevas opciones
          for (var i = 0; i < ciudades.length; i++) {
              var ciudadOption = document.createElement("option");
              ciudadOption.value = ciudades[i];
              ciudadOption.text = ciudades[i];
              ciudadSelect.appendChild(ciudadOption);
          }
      }

      // Escucha el evento de cambio en el campo de provincia
      provinciaSelect.addEventListener("change", actualizarCiudades);
</script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->