<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/dashboard">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/add-question">Nueva Pregunta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/agregarOfertaAcademica">Agregar Oferta Academica</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/crearAdmin">Admin User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Usuarios</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="/listProfile">Perfiles</a>
            </li>
        </ul>
    </div>
</nav>

<style>
    .navbar-nav .nav-link:hover,
    .navbar-brand:hover {
        background-color: transparent;
        color: #f8f9fa;
    }
</style>